header {
  display: flex;
  height: 100%;
  width: 40vw;

  margin-top: 8em;
  margin-right: 1em;
  margin-left: 1em; 
  padding-top: 1em;
  padding-bottom: 1em;

  position: relative;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  background-color: #bcebe7;
  background-image: url("https://www.transparenttextures.com/patterns/dark-circles.png");
}

#name {
  color: #FFFFFF;
}

@media only screen and (max-width:768px) {
  header {
    width: 100vw;
    height: 500px;
    margin-top: 4em;
    margin-left: 0em; 
    padding-top: 0em;
    padding-bottom: 0em;
  }
}