nav {
  height: 120px;
  width: 100vw;
  
  background-color: #4056A1;
  color: #FFFFFF;

  padding: 1.5em;
}

#logo {
  font-family: 'Bungee', sans-serif;
  font-size: 45px;
}

#new {
  font-family: 'Source Sans Pro', sans-serif;
  text-align: center;
  float: right;
}

#arrow {
  color: red;
  display: inline-block;
  vertical-align: middle;
}