nav {
  z-index: 9999;
  position: fixed;
  top: 0;
  width: 100%;
  height: 120px;

  background-color: #4056A1;
  color: #FFFFFF;

  padding: 1.5em;
}

#logo {
  font-family: 'Bungee', sans-serif;
  font-size: 45px;
}

#new {
  font-family: 'Source Sans Pro', sans-serif;
  text-align: center;
  float: right;
}

#arrow {
  color: red;
  display: inline-block;
  vertical-align: middle;
}