.new-tweet {
  display: flex;
  flex-flow: column;
  padding-top: 1em;
  padding-bottom: 1em;
}

.error {
  border-style: solid;
  border: red;
}

#tweet-text {
  width: 100%;

  border-bottom: 4px black solid;
  border-left: transparent;
  border-right: transparent;
  border-top: transparent;

  font-family: 'Source Sans Pro', sans-serif;
  font-size: 20px;
  
  background-color: transparent;
}

.counter {
  margin-top: 15px;

  float: right;

  font-family: 'Bungee', sans-serif;
  font-size: 25px;
}

.new-tweet button {
  margin-top: 15px;
  margin-bottom: 15px;
  float: left;

  font-family: 'Bungee', sans-serif;
  font-size: 20px;
  color: #FFFFFF;
  background-color: #4056A1;

  justify-content: center;
  align-content: center;
}

.new-tweet label {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: bold;
  font-size: 25px;
}

.error {
  display: none;

  font-weight: bold;
  color: red;
  
  background-color: #e6d474;
}

@media only screen and (max-width:768px) {
  .new-tweet {
    width: 90vw;
    display: flex;
    flex-direction: column;
  }
}